@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://kit.fontawesome.com/e891eb3b21.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <i class="fa-regular fa-cart-shopping"></i>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>